/*

<%= className %>

PURPOSE :

VIEWS :

ELEMENTS :

INTERACTIVITY :

GETS DATA FROM :

SENDS DATA TO :

USER STORIES :

*/





import { Component }    from '@angular/core';
import { CommonModule } from '@angular/common';





@Component({
    selector    : 'lib-<%= fileName %>',
    imports     : [ CommonModule ]
    templateUrl : './<%= fileName %>.component.html',
    styleUrls   : [ './<%= fileName %>.component.css' ]
})

export class <%= className %>Component {}